<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <app-chart-pie-citiesshare [data]="data"></app-chart-pie-citiesshare>
        </div>
        <div class="col-6">
            <app-chart-pie-skillcount [data]="data"></app-chart-pie-skillcount>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-chart-line-hiresbyyear [data]="data"></app-chart-line-hiresbyyear>
        </div>
        <div class="col-6">
            <app-chart-map-citiesshare></app-chart-map-citiesshare>
        </div>
    </div>
</div>
<app-table-datasource [data]="data"></app-table-datasource>
