<table class="table table-sm table-hover table-light" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Area</th>
      <th>Skill</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of data">
      <td>{{element.Name}}</td>
      <td>{{element.City}}</td>
      <td>{{element.Area}}</td>
      <td>{{element.Skill}}</td>
      <td>{{element.Year}}</td>
    </tr>
  </tbody>
</table>
